---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/dfingolo/finhub/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","active":true,"events":["issues"],"config":{"url":"/api/v1/event","secret":"2d9b6d32-fac7-4bcc-9428-7567a5f9cca4","content_type":"json","insecure_ssl":"0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGZpbmdvbG86MTIz
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1584282563'
    body:
      encoding: UTF-8
      string: '{"message": "Validation Failed","errors": [{"resource":"Hook","code":"custom","message":"Hook already exists on this repository"}],"documentation_url":"https://developer.github.com/v3/repos/hooks/#create-a-hook"}'
  recorded_at: Sun, 15 Mar 2020 13:35:59 GMT
recorded_with: VCR 5.1.0
